/*
 * File: test.css
 * Author: Zachary Liou
 * Date created: 2016 July 18
 */



/*
 * General
 */

* {
	margin: 0;
	padding: 0;
}

h1, h2, h3, h4, h5, h6, p, ul {
	font-family: 'Source Sans Pro', sans-serif !important;
	color: #2e2e2e;
}
h1, h2 {
	font-size: 4em !important;
}
p {
	font-weight: 300;
	color: #808080;
	font-size: 1.2em;
}

#one {
	display: block;
	background: #006600
	color: white;
	font-weight: 3em;
}

#two {
	display: none;
}



/* test */

.dimmed {
  content: " ";
  z-index: 10;
  display: block;
  position: absolute;
  height: 30vh;
  top: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.5);
}
.gif {
	height: 30vh;
	background-image: url("header.gif");
	background-size: cover;
	background-repeat: no-repeat;
	background-position: 0 -10vh;
}


/*
 * General content/class styles
 */

.section {
	text-align: center;
	height: 60vh;
	width: 100vw;
}

/* Fold */

#fold {
	margin-top: 5vh;
}

.banner-container {
	display: inline-block;
}

#app-icon {
	float: left;
	max-width: 15vw;
	max-height: 15vw;
	border-radius: 3.5vw;
	box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.2), 0 0px 20px 0 rgba(0, 0, 0, 0.19);
}

.name-container {
	float: left;
	margin-left: 5vw;
}

#author {
	float: right;
}

.compliments {
	margin-top: 7vh;
}

.top-nav {
	margin-top: 5vh;
	margin-bottom: 2vh; 
	text-align: center;
}

.nav1 {
	display: inline-block;
}

.menu {
	float: left;
	min-width: 7vw;
	margin: 0 1vw;
	list-style: none;
}

li.menu {
	 background: transparent;
	 border: solid 2px #e2e2e2;
	 border-radius: 0px
}

li.active {
	background: #eee;
}

a.scroll {
	text-decoration: none;
	color: #595959;
}


/* Features */

#features {
	background: #f2f2f2;
	min-height: 180vh;
}

#features-header {
	margin-top: 5vh;
	margin-bottom: 3vh;
}


.feature {
	padding-top: 5vh;
}

.feature-left {
	margin-left: 50vw;
}

.feature-right {
	margin-right: 50vw;
}

.feature-image {
	width: 50vw;
	height: 50vh;
	padding: 0;
	margin: -3px -2vw;
	object-fit: cover;
}

.feature-text {
	width: 50vw;
	height: 50vh;
	padding: 0;
	margin: -3px -1vw;
	background: white;
}

.feature-entry {
	font-size: 1.4em;
	margin: 3vh 0;
}


/* Contact */

#contact {
	height: 30vh;
}

#contact-header {
	padding-top: 5vh;
	padding-bottom: 3vh;
}








/* Misc. */

#triangle {
	width: 0;
	height: 0;
	border-left: 50vw solid transparent;
	border-right: 50vw solid transparent;
	border-top: 5vh solid white;
}


.triangle-right {
	position: absolute;
	margin: -3px -2px;
	width: 0;
	height: 0;
	border-top: 25vh solid transparent;
	border-left: 5vw solid white;
	border-bottom: 25vh solid transparent;
}

.triangle-left {
	position: absolute;
	margin: -3px -2px;
	margin-left: 0px;
	padding-left: 45vw;
	width: 0;
	height: 0;
	border-top: 25vh solid transparent;
	border-right: 5vw solid white;
	border-bottom: 25vh solid transparent;
}

#triangle2 {
	width: 0;
	height: 0;
	position: absolute;
	border-left: 50vw solid transparent;
	border-right: 50vw solid transparent;
	border-bottom: 5vh solid white;
	margin-top: -5vh;
}