/*
 * File: style.css
 * Author: Zachary Liou
 * Date created: 2016 July 18
 */



/*
 * General
 */

* {
	margin: 0;
	padding: 0;
}

h1, h2, h3, h4, h5, h6, p, ul {
	font-family: 'Source Sans Pro', sans-serif;
	color: #2e2e2e;
}
h1, h2 {
	font-size: 4em;
}
h3 {
	font-size: 2em;
}
p {
	font-weight: 300;
	color: #808080;
	font-size: 1.2em;
}


.dimmed {
  content: " ";
  z-index: 10;
  display: block;
  position: absolute;
  height: 30vh;
  top: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.5);
}
.gif {
	height: 30vh;
	background-image: url("header.gif");
	background-size: cover;
	background-repeat: no-repeat;
	background-position: 0 -10vh;
}


/*
 * General content/class styles
 */

.section {
	text-align: center;
	min-height: 60vh;
	width: 100%;
}





/* Fold */


#fold {
	/*display: flex;
	align-items: center;*/
	justify-content: center;
	background: #86c06c radial-gradient(ellipse at center, rgba(255,255,255,0) 0%, rgba(0,0,0,0.2) 100%);
}

#title {
	padding-top: 18vh;
	color: white;
	font-family: "Satisfy", cursive;
	font-size: 7em;
	font-weight: normal;
}

#video {
	padding-top: 10%;
	padding-bottom: 10%;
    background: #efefef;
}

#video-title {
	font-family: "Satisfy", cursive;
}

.banner-container {
	display: inline-block;
}


#tryit-cn {
	position: absolute;
	left: 50%;
	margin-top: -100px;
	margin-left: -125px;
}

#tryit {
	font-family: "Source Sans Pro", sans-serif;
	font-size: 1.8em;

	width: 250px;
	height: 50px;
	border-radius: 10px;

}


/*
#app-icon {
	float: left;
	max-width: 15vw;
	max-height: 15vw;
}

.name-container {
	float: left;
	margin-left: 5vw;
	padding-top: 3vh;
	font-family: 'Satisfy', sans-serif;
}

#author {
	float: right;
}

.compliments {
	margin-top: 7vh;
}

.top-nav {
	margin-top: 5vh;
	margin-bottom: 2vh; 
	text-align: center;
}

.nav1 {
	display: inline-block;
}

.menu {
	float: left;
	min-width: 7vw;
	margin: 0 1vw;
	list-style: none;
}

li.menu {
	 background: transparent;
	 border: solid 2px #e2e2e2;
	 border-radius: 0px
}

li.active {
	background: #eee;
}

a.scroll {
	text-decoration: none;
	color: #595959;
}

.img-circle {
    border-radius: 50%;
}
*/


.badges {
	padding: 5vh;
	align-items: center;	
	text-align: center;
}

#gp-badge {
	height: 60px;
}

#as-badge {
	margin: 10px;
}



/* Accolades */
#accolades {
	min-height: 30vh;
	display: flex;
	align-items: center;
	text-align: center;
	justify-content: center;;

}

#basement-accolade {
	float: left;
}

#basement-logo {
	margin-top: 40px;
}

/* Events */
#events {
    padding-top: 5vh;
    padding-bottom: 5vh;
    min-height: 30px;
    align-items: center;
    justify-content: center;
}

#events-title {
	font-family: "Satisfy", cursive;
    margin-top: 225px;
}

#events-images {
    justify-content: center;
}

#events-img {
    padding-left: 5vh;
    padding-right: 5vh;
}


/* Recruitment */

#recruit {
	background: #efefef;
	padding-top: 5vh;
	padding-bottom: 5vh;
	min-height: 0;
}

#recruit-header {
	font-family: "Satisfy", cursive;
}

.posting-cn {
	margin: 3vh 20vw;
	text-align: left;
}

.posting-position {
	margin-top: 2vh; 
}

#resume-to {
	color: black;
	font-size: 1.5em;
}

#resume-email {
	color: green;
}




/* Features */

#features {
	/*background: #f2f2f2;*/
	min-height: 180vh;
}

#features-header {
	margin-top: 5vh;
	margin-bottom: 3vh;
}


.feature {
	padding-top: 5vh;
}

.feature-left {
	margin-left: 50vw;
}

.feature-right {
	margin-right: 50vw;
}

.feature-image {
	width: 50vw;
	height: 50vh;
	padding: 0;
	margin: -3px -2vw;
	object-fit: cover;
}

.feature-text {
	width: 50vw;
	height: 50vh;
	padding: 0;
	margin: -3px -1vw;
	background: white;
}

.feature-entry {
	font-size: 1.4em;
	margin: 3vh 0;
}

.feature-screenshot {
    width:  332px;
    height: 676.25px;
    padding-left: 75px;
    padding-top: 57px;
    margin-right: 25px;
}

.alt-feature-screenshot {
    width:  332px;
    height: 676.25px;
    padding-right: 75px;
    margin-top: -500px;
}

#alt-feature {
    /* background-color: #efefef; */
}

.feature-description{
    padding-top: 50px;
    padding-bottom: 500px;
}

.alt-feature-description {
    padding-top: 0px;
    padding-bottom: 0px;
    padding-right: 425px;
    margin-top: -675px;
    text-align: right;
    
}

.feature-screenshot-bottom {
    width:  332px;
    height: 676.25px;
    margin-left: -400px;
    padding-top: 300px;
    padding-left: 40px;
    margin-right: 30px;
}

.alt-feature-screenshot-bottom {
    width:  332px;
    height: 676.25px;
    margin-top: -500px;
    padding-right: 75px;
}


.feature-description-bottom {
    padding-top: 250px;
    padding-bottom: 500px;
    margin-left: 0px;
}

.alt-feature-description-bottom {
    padding-top: 0px;
    padding-bottom: 0px;
    padding-right: 430px;
    margin-top: -630px;
    text-align: right;
    
}

#feature-heading {
    font-family: "Satisfy", cursive;
    padding-top: 50px;
    font-size: 4em;
    margin-bottom: -25px;
}




/*Meet the Team*/

#team {
	margin-top: 5vh;
}

#team-header {
	font-family: "Satisfy", cursive;
}

#team-members {
	margin-right: 20vw;
	margin-left: 20vw;
}

.member-pic-cn {
	padding: 5vh;
}

.member-bio {
	padding: 5vh;
	text-align: left;
}

.member-pic {
	border-radius: 50%;
}

.temp {
	border-radius: 50%;
	border: #86c06c solid 1px;
}


/* Contact */

#contact {
	height: 200px;
	background-color: #efefef;
}

#contact-header {
	padding-top: 5vh;
	/*padding-bottom: 3vh;*/
}








/* Misc. */

#triangle {
	width: 0;
	height: 0;
	border-left: 50vw solid transparent;
	border-right: 50vw solid transparent;
	border-top: 5vh solid white;
}


.triangle-right {
	position: absolute;
	margin: -3px -2px;
	width: 0;
	height: 0;
	border-top: 25vh solid transparent;
	border-left: 5vw solid white;
	border-bottom: 25vh solid transparent;
}

.triangle-left {
	position: absolute;
	margin: -3px -2px;
	margin-left: 0px;
	padding-left: 45vw;
	width: 0;
	height: 0;
	border-top: 25vh solid transparent;
	border-right: 5vw solid white;
	border-bottom: 25vh solid transparent;
}

#triangle2 {
	width: 0;
	height: 0;
	position: absolute;
	border-left: 50vw solid transparent;
	border-right: 50vw solid transparent;
	border-bottom: 5vh solid white;
	margin-top: -5vh;
}
