* {
	margin: 0 3vw;
	padding: 0;
}

#intro {
	margin: 3vh 3vw;
}

.section-contaner {
	max-height: 20vh;
}

.section {
	margin: 1vh;
	width: 12vw;
	height: 10vh;
	background: #232323;
	color: white;
	float: left;
	font-family: sans-serif;
	text-align: center;
	padding-top: 8vh;
}

img {
	max-height: 500px;
	max-width: 500px;
}

.img-container {
	float: left;
}
.text-container {
	float: right;
}
.row-container {
	display: inline;
	background: gray;
}
#mid-text {
	float: left;
}	
#mid-img {
	float: right;
}


