* {
	margin: 0 3vw;
	padding: 0;
}

#intro {
	margin: 3vh 3vw;
}

.section-contaner {
	max-height: 20vh;
}

.section {
	margin: 1vh;
	width: 12vw;
	height: 10vh;
	background: #232323;
	color: white;
	float: left;
	font-family: sans-serif;
	text-align: center;
	padding-top: 8vh;
}

img {
	max-height: 500px;
	max-width: 500px;
}

p {
	margin: 5em 0;	
	padding: 0;
	width: 80%;
}

#triangle {
	width: 0;
	height: 0;
	border-top: 167px solid transparent;
	border-right: 100px solid white;
	border-bottom: 167px solid transparent;
	position: absolute;
	margin-left: 447px;
	margin-top: -337px;

}